root {
    --heading-background-color: #f06;
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    margin: 10px auto;
    width: 20rem;
    padding: var(--padding);
    border: 1px solid rgb(0, 0, 0, 0.2);
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Sriracha-Regular', serif; }

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font), serif;
    padding: var(--padding) ;
}

nav {
    background-color: steelblue;
    color: white;
    text-align: left;
    padding: 10px;
    margin-top: 15px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}